<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNQrH_ysKLnl8S2z3UwS1cbdBvZz4qU1A</string>
	<key>GCM_SENDER_ID</key>
	<string>437155289940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maintenace</string>
	<key>PROJECT_ID</key>
	<string>maintenance-app-ed03b</string>
	<key>STORAGE_BUCKET</key>
	<string>maintenance-app-ed03b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437155289940:ios:6f58975d949d78c684c6c1</string>
</dict>
</plist>